.App {
  background: #241623;
  font-family: cursive;
}

html {
  background-color: #241623;
}

.Sidebar {
  height: 100%;
  width: 120px;
  background-color: #1b1b1b;
  border-right: 1px solid #6c6c6c;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

.SidebarList {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 0px;
}

.SidebarList .row {
  /*width: 100%; 
  height: 50px; */
  border-top: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* list-style-type: none; 
  margin: 1rem;
  display: flex; */
  flex-direction: column;
  color: aliceblue;
  font-family: cursive;
  /* flex-wrap: nowrap; 
  justify-content: center;*/
}

.nav-icn{
  position: relative;
  left: 10px;
  margin-bottom: 4px;
}

/*-----------Heading CSS -------------*/

.heading-div {
  width: 200%;
  bottom: 22rem;
  z-index: 1;
  margin-top: 1rem;
}

.heading-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #2f2f2f;
  border: 1px solid #6c6c6c;
  align-items: center;
  padding-left: 12rem;
  height: 60px;
}

.heading-container p {
  padding-left: 2rem;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom:0;
}

/*-----------Heading CSS -------------*/

/* .home-body {
  margin-bottom: 5rem;
}  */


/*-----------Product Card CSS -------------*/
.product-container {
  transform: scale(0.6);
  width: 100%;
  position: relative;
  bottom: 22rem;
  width:max-content;
  right: 3rem;
}
/* .section {
  width:max-content;
} */
.movie-page-link {
  text-decoration: none;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
}

.card-content {
  background-color: transparent;
  padding: 1.5rem;
  padding-top: 25px;
}

.card-image {
  display: flex;
  position: relative;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  margin: 1rem;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: relative;
}

.back-img {
  position: relative;
  top: 30rem;
  right: 11rem;
  height: 20rem;
  scale: 1.5;
  z-index: -1;
}

.product-card {
  background-color: #0000004d;
  border: 2px solid #00f0e4;
  box-shadow: 0px 2px 26px 8px rgb(91 255 250 / 30%),
    -2px -2px 2px rgba(255, 255, 255, 0.5);
  color: white;
  text-align: center;
  font-family: cursive;
  width: 400px;
  height: 700px;
}

.title.is-4 {
  color: white;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hit-rate {
  font-size: 1.5rem;
}

.separator {
  border: none;
  border-top: 1px solid #3d3b3d;
  background-color: #3d3b3d;
  margin-bottom: -0.5rem;
  position: relative;
  top: -2rem;
}

/*-----------Product Card CSS -------------*/

.carousel {
  position: absolute;
  left: 120px;
  top: 0;
  z-index: 1;
}

.w-100 {
  width: 100% !important;
}

.d-block {
  display: block !important;
}
/*-----------Login Card CSS -------------*/
.profilepage {
  background-image: url('./img/grid_bg_dim.png');
  background-size: cover;
  height: 100vh;
}

.login {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
  padding-left: 20rem; 
  /* padding-top: 13rem; */
  /* padding-bottom: 20rem; */
  /* padding-right: 20rem; */
  align-self: center;
  margin: 4.5rem;
  border-radius: 0.375rem;
  /* width: fit-content; */
  /* height: max-content; */
  padding: 3rem;
  /* position: relative; */
  /* top: 1rem; */
  /* left: 16rem; */
  margin-left: 20rem;
  margin-top: 10rem;
  box-shadow: 0px 2px 85px 8px rgb(0 255 247 / 48%);
}


.Signin {
  color: white;
  font-size: 2.25rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
.Input {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 250px;
}

.block {
  /*border-radius: 0.375rem;  This is equivalent to rounded-md 
  padding-left: 1.5rem;  This is equivalent to px-6 
  padding-right: 1.5rem;  This is equivalent to px-6 
  padding-top: 1.5rem;  This is equivalent to pt-6 
  padding-bottom: 0.25rem;  This is equivalent to pb-1 
  width: 100%; This is equivalent to w-full 
  font-size: 1rem;  This is equivalent to text-md 
  color: #fff;  This is equivalent to text-white 
  background-color: #4b5563;  This is equivalent to bg-neutral-700 
  appearance: none;  This is equivalent to appearance-none 
  outline: none;  This is equivalent to focus:outline-none 
  box-shadow: none;  This is equivalent to focus:ring-0 
  border: none;  This is equivalent to peer 
  border-bottom: 1px solid #e5e7eb;  This is equivalent to invalid:border-b-1 */
  border-radius: 0.275rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 0.25rem;
  width: 100%;
  font-size: 1rem;
  color: #fff; 
  background-color: #313438e0;
  appearance: none;
  /* outline: none; */
  box-shadow: aliceblue;
  border: 1px solid #69727c;
  /* border-bottom: 1px solid #8e98a3;*/

}

.login-separator {
  border-top: 2px solid #fff;
  margin:0;
  position: relative;
  top:1.2rem;
}

.block::placeholder {
  color: #9ca3af; /* This is equivalent to placeholder */

}
.absolute {
  position: absolute;
}
.text-md {
  font-size: 1rem;
}
.text-zinc-400 {
  color: #747474;
}
.duration-150 {
  transition-duration: 0.15s;
}
.transform {
  transform: none;
}
-translate-y-3 {
  transform: translateY(-0.75rem);
}
.scale-75 {
  transform: scale(0.75);
}
.top-4 {
  top: 1rem;
}
.z-10 {
  z-index: 10;
}
.origin-[0] {
  transform-origin: 0%;
}
.left-6 {
  left: 1.5rem;
}
.peer-placeholder-shown\:scale-100:placeholder-shown {
  transform: scale(1);
}
.peer-placeholder-shown\:translate-y-0:placeholder-shown {
  transform: none;
}
.peer-focus\:scale-75:focus {
  transform: scale(0.75);
}
.peer-focus\:-translate-y-3:focus {
  transform: translateY(-0.75rem);
}
.relative {
  position: relative;
}


.flex {
  display: flex;
}
.Input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bg-red-600 {
  background-color: #DC2626;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.text-white {
  color: #FFFFFF;
  font-weight: 700;
}

.rounded-md {
  border-radius: 0.375rem;
}

.w-full {
  width: 100%;
}

.mt-10 {
  margin-top: 2.5rem;
}

.hover\:bg-red-700:hover {
  background-color: #B91C1C;
}

.transition {
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.bg-red-600.py-3.text-white.rounded-md.w-full.mt-10.hover\:bg-red-700.transition:hover {
  background-color: #B91C1C;
}
.text-neutral-500 {
  color: #6B7280;
}

.mt-12 {
  margin-top: 3rem;
}

.text-white {
  color: #FFFFFF; /* sets the text color to white */
}

.ml-1 {
  margin-left: 1rem; /* sets the left margin to 1rem */
}

.hover\:underline:hover {
  text-decoration: underline; /* underlines the text when the element is hovered over */
}

.cursor-pointer {
  cursor: pointer; /* sets the cursor to a pointer */
}

.pad-top {
  padding-top:1rem;
}

.pad-bot {
  padding-bottom:1rem;
}

/*-----------Login Card CSS -------------*/

.short-banner {
  position: absolute;
  left: 33px;
  top: 0;
  z-index: 1;
  width: 100%;
}

.movie-title {
  color: white;
}

.movie-details {
  color: whitesmoke;
}

.return-button {
  color: rgb(148, 17, 17);
  text-decoration: none;
}

.poster-image {
  width: 200px;
}

.title,
.show-date {
  color: white;
}

.venue-dropdown {
  color: white;
  background-color: #222;
  border: none;
}

.button-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.book-now-button{
  color: #00F0E4;
    background-color: #232323;
    border-radius: 0;
    border: 1px solid #00F0E4;
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 2rem;
}

.imdb-button {
  color: #000000;
  background-color: #F6C700;
  border-radius: 8px;
  border: 1px solid #F6C700;
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: 900;
  font-size: 1.6rem;
}

.book-now-button:hover {
  background-color: #00F0E4;
  color:#232323;
  font-weight:600;
}

.active {
  background-color: #00F0E4;
  color:#232323;
  font-weight:900;
}



.sw-moviepage-container {
  height: 100vh;
  background-color: #241623;
}

.movie-heading-div {
  width: 200%;
  position: relative;
  top: 9rem;
  z-index: 1;
  
}

.movie-description {
  width: 80%;
  overflow: hidden;
  position: relative;
  top: 7rem;
  margin-left: 10rem;
}

.movie-description::after {
  content:"";
  display:table;
  clear:both;
}

.movie-text-content {
  float: right;
  width: 45%;
  padding-top: 4rem;

}

.sw-movie-poster-left{
  float: left;
    width: 55%;
    height: auto;

}


.movie-info-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.movie-info-table th,td{
  text-align: left;
  padding:10px;
}

.movie-info-table th{
  width:40%;
}

.movie-info-table tr{
  padding:1rem;
}
/* cinema css */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.seatmain {
  box-sizing: border-box;
}

.setbody {
  background-color: #242333;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', 'sans-serif';
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}





/*-----------Ticket buying CSS -------------*/

.ticketing-form {
  position: relative;
  color: white;
}

.form-row {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.form-row label{
  padding: 0.5rem;
}

.form-row select,input{
  min-width: 10rem;
  background-color: #3e3e3e;
  color: white;
  border: 1px solid grey;
  border-radius: 0.375rem;
  padding: 0.2rem;
}



/*-----------Ticket buying CSS -------------*/




.ticket-table {
  caption-side: bottom;
  border-collapse: collapse;
  position: relative;
  top: 13rem;
  color: white;
  left: 13rem;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #858585;
  border-bottom: 1px solid #858585;
  height: 450px;
  width: max-content;
}

.ticket-table tr{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-table th{
  border-bottom: 1px solid #858585;
  width: 100%;
  text-align: center;
  padding-left: 1rem;
  padding-right:1rem;
  padding-bottom: 1rem;
}


.ticket-table td{
  border-bottom: 1px solid #858585;
  width: 100%;
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
